* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navBarBackground: #CCFFBD;
    --background: #40394A;
    --text: #F3F3F3;
    --navBarLinkText: #7ECA9C;
    --background-dark: #1C1427;
}

@media(max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background: var(--background);
    color: var(--text);
    overflow-x: hidden;
    font-family: 'Prompt', sans-serif;
}